sudo: required

language: python
python:
  - '3.6'

services:
  - docker

script:
  - docker build -t informaticslab/pangeo-notebook:${TRAVIS_COMMIT:0:8} .

deploy:
  skip_cleanup: true
  provider: script
  script: bash $TRAVIS_BUILD_DIR/deploy.sh
  on:
    branch: master
